<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
		<link th:href="@{/css/login/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/login/signin.css}" rel="stylesheet">
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<link rel="icon" th:href="@{../favicon/favicon.ico}" type="image/png" />
		<title>Registro</title>
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }
	
	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	</head>
    <body class="text-center">
		<main class="form-signin">
			<form name="altaProducto" th:action="@{/categorias/altaCategoria}" th:object="${categoria}" method="POST">
				<img class="mb-4" th:src="@{/img/nuevoProducto.png}" alt="" width="72" height="72">
				<h1 class="h3 mb-3 fw-normal">Nueva categoría</h1>
					<div class="form-floating">
						<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
						<label for="floatingInput">Nombre</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
						<label for="floatingInput">Descripción</label>
					</div>
					<br>
					<button class="w-100 btn btn-lg btn-primary" type="submit">Crear</button>
					<br><br>
					<input class="w-100 btn btn-lg btn-primary" type="button" onclick="history.back()" name="volver" value="Volver">
					<p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
			</form >
		</main>
	</body >
</html>