*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.2rem;
}
main{
	height: 74vh;
	background-color:#f5f5f5;
}
.logoForm a img{
	width:50px;
	height:50px;
	margin:20px;
}
.listaProductos{
	display:flex;
	justify-content: center;
}
.listaProductos tr{
	display:flex;
	justify-content: center;
    align-items: center;
}
.listaProductos tr th td{
	text-align: center;
}
.sesion{
	text-align: center;
}